calc/resource/TKE_Calc_Graph.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--- TODO List
		1. Only tested over ACAPenalty.xml. Serves as a base for future extension. 
		2. To give the schema a proper ID. 
		3. To figure out the ultimate place to check the schema file(s) in. 
		4. Gists are grouped into two set: GenericGistSet and ACASpecificGistSet. 
		   Consider to separate them into different files. 
		5. Ordered vs. Unordered: this is particularly significant to the Gist's 
		   parameter/input pair. Right now, the schema favors <xsd:sequence> and 
		   manually change some of them to use <xsd:all> when there is evidence that 
		   the order of element does not matter. Need a systematic decision on this. 
		6. Other than validating the uniqueness of Node[@name], it does not do other
		   stringent semantic-like checks. 
		7. The schema uses "unbounded" whenever there is evidence certain element can appear more than once. 
		   In other words, there is no specific bound checks in general. 
		8. Consider redesign the decoration gist such as MultiCopyMapper and BlankIfApplicable 
		   per discussion between Gang and Dave. 		    
	-->
  <xsd:complexType name="VersionsType">
    <xsd:sequence>
      <xsd:element name="Version" minOccurs="3" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="id" type="xsd:string"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="RoundToGroup">
    <xsd:choice>
      <xsd:element name="Integer">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="Dollars">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="Dec" type="xsd:integer"/>
      <xsd:element name="Struct">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Element" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Name" type="xsd:string"/>
                  <xsd:element name="RoundTo" type="RoundToType"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="RoundToType">
    <xsd:choice minOccurs="1" maxOccurs="1">
      <xsd:element name="MultiCopy">
        <xsd:complexType>
          <xsd:choice>
            <xsd:group ref="RoundToGroup"/>
            <xsd:element name="MultiCopy">
              <xsd:complexType>
                <xsd:group ref="RoundToGroup"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:group ref="RoundToGroup"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:simpleType name="NodeTypeAttributeValues">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="input"/>
      <xsd:enumeration value="constant"/>
      <xsd:enumeration value="computed"/>
      <xsd:enumeration value="multiCopyPrimitiveInput"/>
      <xsd:enumeration value="multiCopyStructInput"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NodeType">
    <xsd:sequence>
      <xsd:sequence minOccurs="0" maxOccurs="1">
        <xsd:element name="Inputs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Input" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ExtraValuesForFiling" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ExtraValue" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ID" type="xsd:string"/>
                    <xsd:element name="RoundTo" type="RoundToType" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Aliases" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Alias" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="MultiCopyOutputElements" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Element" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Gist" minOccurs="0" maxOccurs="1" type="GistType"/>
      </xsd:sequence>
      <xsd:element name="RoundTo" minOccurs="0" maxOccurs="1" type="RoundToType"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="type" default="computed" type="NodeTypeAttributeValues"/>
  </xsd:complexType>
  <xsd:complexType name="GistType">
    <xsd:choice>
      <xsd:group ref="GenericGistSet"/>
      <xsd:group ref="ACASpecificGistSet"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:element name="Nodes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Versions" type="VersionsType"/>
        <xsd:element name="Node" type="NodeType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="topic" type="xsd:string"/>
    </xsd:complexType>
    <xsd:unique name="NodeNameUniqueness">
      <xsd:annotation>
        <xsd:documentation>Make sure that all Node[@name] are unique.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="Node"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>
  <!-- Generic Gist set -->
  <xsd:group name="GenericGistSet">
    <xsd:choice>
      <xsd:element name="AllConditionsTrue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Condition" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DateCopy">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DateIsAfter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Date" type="xsd:string"/>
            <xsd:element name="Threshold" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DateIsBefore">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Date" type="xsd:string"/>
            <xsd:element name="Threshold" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeficitInInsuranceCoverage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CoverageIndPP" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NumericCopy">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DateChoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Choice" type="xsd:string"/>
            <xsd:element name="Possibility" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="ChoiceMapping">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Option" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Value" type="xsd:string"/>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="DefaultOption" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NumericChoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Choice" type="xsd:string"/>
            <xsd:element name="Possibility" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="ChoiceMapping">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Option" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Value" type="xsd:string"/>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="DefaultOption" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Opposite">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Cap">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="ValueType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="Value" minOccurs="1" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="Cap" minOccurs="1" maxOccurs="1" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AtLeastOneConditionTrue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Condition" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyHasValues">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopyValue" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyHasSpecificValue">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyFindIDForValue">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FindPercentage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
            <xsd:element name="Whole" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyFindAllIDsForValue">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyCreateFromCSV">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Data" type="xsd:string"/>
            <xsd:element name="UseStringAsKey" type="xsd:boolean"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BlankIfApplicable">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:choice>
              <xsd:element name="BlankIfTrue" type="xsd:string"/>
              <xsd:element name="BlankIfFalse" type="xsd:string"/>
            </xsd:choice>
            <xsd:element name="Gist" type="GistType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyMapper">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="List" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="Gist" type="GistType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyChoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Choice" type="xsd:string"/>
            <xsd:element name="Possibility" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="ChoiceMapping">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Option" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Value" type="xsd:string"/>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="DefaultOption" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="StringChoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Choice" type="xsd:string"/>
            <xsd:element name="Possibility" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="ChoiceMapping">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Option" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Value" type="xsd:string"/>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="DefaultOption" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BooleanChoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Choice" type="xsd:string"/>
            <xsd:element name="Possibility" type="xsd:string" minOccurs="1" maxOccurs="3"/>
            <xsd:element name="ChoiceMapping">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Option" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Value" type="xsd:string"/>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="DefaultOption" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="NoOtherOption" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExemptDueToAtLeastOneReason">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ExemptFromWhat" minOccurs="1" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="Reason" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Accumulation">
        <xsd:complexType>
          <xsd:choice maxOccurs="unbounded">
            <xsd:element name="Type" type="xsd:string" minOccurs="1"/>
            <xsd:element name="Value" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AccumulationOfPositiveValues">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Type" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyAccumulation">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Type" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyAllConditionsTrue">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyAccumulationOfPositiveValues">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Type" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Product">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Product" type="xsd:string" minOccurs="2" maxOccurs="2"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PenaltyIfApplicable">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PenaltyApplies" type="xsd:string"/>
            <xsd:element name="IsExempt" type="xsd:string"/>
            <xsd:element name="PenaltyAmt" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AboveThreshold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
            <xsd:element name="Threshold" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AboveOrEqualToThreshold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
            <xsd:element name="Threshold" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Equals">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PercentageOf">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="ValueType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="OutputType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Percentage" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyCombiner">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopyValue" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="Config" minOccurs="1" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Elements">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Element" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="ID" type="xsd:string"/>
                              <xsd:element name="Name" type="xsd:string"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Maximum">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Minimum">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MergeStringLists">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StringList" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyAtLeastOneConditionTrue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopySelectMultiCopyByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="ID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopySelectBooleanByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="ID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopySelectDateByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="ID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopySelectStringByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="ID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExcessAmt">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="ValueType" type="xsd:string"/>
            <xsd:element name="Threshold" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopySelectNumericByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="ID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Quotient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Numerator" type="xsd:string"/>
            <xsd:element name="Denominator" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Difference">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Left" type="xsd:string"/>
            <xsd:element name="Right" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Subsidy">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RequiredPayment" type="xsd:string"/>
            <xsd:element name="Cost" type="xsd:string"/>
            <xsd:element name="Disqualified" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubsidyRefund">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TrueUpAmt" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubsidyRepayment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TrueUpAmt" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyRemoveDuplicates">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopyValue" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DisqualifiedDueToIncome">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Income" type="xsd:string"/>
            <xsd:element name="Threshold" type="xsd:string"/>
            <xsd:element name="SubsidyType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DisqualifiedDueToAtLeastOneReason">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Reason" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="DisqualifiedFromWhat" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ChangeStringToAllCaps">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StringToConvert" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EligibleDueToLowIncome">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Income" type="xsd:string"/>
            <xsd:element name="Threshold" type="xsd:string"/>
            <xsd:element name="EligibleForWhat" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsBlank">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FindIDForMaxValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Values" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyContainsID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="ID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyContainsValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AbsoluteValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopySize">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopy" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BooleanCopy">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FindIDForMinValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Values" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MultiCopyCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MultiCopy" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsNotBlank">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="StringCopy">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="ACASpecificGistSet">
    <xsd:choice>
      <xsd:element name="ACADeficitInCoverage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeficitData" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACADeficitInCoveragePerPersonPerMonth">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ThisPersonThisMonth" type="xsd:string"/>
            <xsd:element name="AllData" type="xsd:string"/>
            <xsd:element name="MultiCopy" type="xsd:string"/>
            <xsd:element name="AutoGLimitedCoverageData" type="xsd:string"/>
            <xsd:element name="AutoGExemptionMode" type="xsd:string"/>
            <xsd:element name="AutoGAcceptableCoverageGapLastPossibleMonth" type="xsd:string"/>
            <xsd:element name="EligibleForMedicaidGapExemption" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACACoverageCollector">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PrimarySSN" type="xsd:string"/>
            <xsd:element name="PrimaryBirthDt" type="xsd:string"/>
            <xsd:element name="PrimaryDeathDt" type="xsd:string"/>
            <xsd:element name="SpouseSSN" type="xsd:string"/>
            <xsd:element name="SpouseBirthDt" type="xsd:string"/>
            <xsd:element name="SpouseDeathDt" type="xsd:string"/>
            <xsd:element name="FilingStatus" type="xsd:string"/>
            <xsd:element name="DependentDetail" type="xsd:string"/>
            <xsd:element name="EntireFamilyCoveredAllYear" type="xsd:string"/>
            <xsd:element name="CoverageFrom1095A" type="xsd:string"/>
            <xsd:element name="CoverageFrom1095B" type="xsd:string"/>
            <xsd:element name="CoverageFrom1095C" type="xsd:string"/>
            <xsd:element name="CoverageFrom1095Other" type="xsd:string"/>
            <xsd:element name="RequestedExemptions" type="xsd:string"/>
            <xsd:element name="FilingYear" type="xsd:string"/>
            <xsd:element name="ObtainedExemptionsWithStartAndEndMonths" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACATotalBronzePlan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PersonCount" type="xsd:string"/>
            <xsd:element name="BronzePlanPerPersonAmt" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACABronzePlanCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeficitData" type="xsd:string"/>
            <xsd:element name="MaxPeoplePerMonth" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAIncomeFlatDollarPenalty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MonthlyPenalty" type="xsd:string"/>
            <xsd:element name="PenaltyX12" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAPenaltyMustBeAtLeast">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FlatDollarMinimum" type="xsd:string"/>
            <xsd:element name="IncomePenalty" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAPenaltyIfAnyUninsured">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PenaltyAmt" type="xsd:string"/>
            <xsd:element name="DeficitData" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAFlatDollarAmount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeficitData" type="xsd:string"/>
            <xsd:element name="FlatDollarPerPersonAmt" type="xsd:string"/>
            <xsd:element name="MaxFlatDollarAmt" type="xsd:string"/>
            <xsd:element name="PrimaryBirthDt" type="xsd:string"/>
            <xsd:element name="SpouseBirthDt" type="xsd:string"/>
            <xsd:element name="DependentsBirthDts" type="xsd:string"/>
            <xsd:element name="FilingYear" type="xsd:string"/>
            <xsd:element name="Month" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TaxableIncome">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Income" type="xsd:string"/>
            <xsd:element name="Deductions" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValueMustBeBetween">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
            <xsd:element name="MinimumValue" type="xsd:string"/>
            <xsd:element name="MaximumValue" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAExemptDueToDependentOnOtherReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FilingStatus" type="xsd:string"/>
            <xsd:element name="TotalExemptionsCount" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FilingThreshold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FilingStatus" type="xsd:string"/>
            <xsd:element name="PrimarySSN" type="xsd:string"/>
            <xsd:element name="PrimaryBirthDt" type="xsd:string"/>
            <xsd:element name="SpouseSSN" type="xsd:string"/>
            <xsd:element name="SpouseBirthDt" type="xsd:string"/>
            <xsd:element name="AgeLimit" type="xsd:string"/>
            <xsd:element name="FilingYear" type="xsd:string"/>
            <xsd:element name="SingleStandardDeduction" type="xsd:string"/>
            <xsd:element name="SingleExemption" type="xsd:string"/>
            <xsd:element name="SingleReachedAgeLimitAmt" type="xsd:string"/>
            <xsd:element name="MarriedFilingJointlyStandardDeduction" type="xsd:string"/>
            <xsd:element name="MarriedFilingJointlyExemption" type="xsd:string"/>
            <xsd:element name="MarriedFilingJointlyReachedAgeLimitAmt" type="xsd:string"/>
            <xsd:element name="MarriedFilingSeparatelyStandardDeduction" type="xsd:string"/>
            <xsd:element name="MarriedFilingSeparatelyExemption" type="xsd:string"/>
            <xsd:element name="MarriedFilingSeparatelyReachedAgeLimitAmt" type="xsd:string"/>
            <xsd:element name="HeadOfHouseholdStandardDeduction" type="xsd:string"/>
            <xsd:element name="HeadOfHouseholdExemption" type="xsd:string"/>
            <xsd:element name="HeadOfHouseholdReachedAgeLimitAmt" type="xsd:string"/>
            <xsd:element name="WidowerStandardDeduction" type="xsd:string"/>
            <xsd:element name="WidowerExemption" type="xsd:string"/>
            <xsd:element name="WidowerReachedAgeLimitAmt" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExemptDueToLowIncome">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Income" type="xsd:string"/>
            <xsd:element name="Threshold" type="xsd:string"/>
            <xsd:element name="ExemptFromWhat" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ModAGI">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AGI" type="xsd:string"/>
            <xsd:element name="ItemToAdd" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ItemToRemove" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAExemptionRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UserRequests" type="xsd:string"/>
            <xsd:element name="DeficitData" type="xsd:string"/>
            <xsd:element name="PrimarySSN" type="xsd:string"/>
            <xsd:element name="PrimaryFirstNm" type="xsd:string"/>
            <xsd:element name="PrimaryLastNm" type="xsd:string"/>
            <xsd:element name="SpouseSSN" type="xsd:string"/>
            <xsd:element name="SpouseFirstNm" type="xsd:string"/>
            <xsd:element name="SpouseLastNm" type="xsd:string"/>
            <xsd:element name="DependentDetail" type="xsd:string"/>
            <xsd:element name="MedicaidGapData" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACACreateHealthCareCoverageAndExemptionTable">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeficitData" type="xsd:string"/>
            <xsd:element name="PrimarySSN" type="xsd:string"/>
            <xsd:element name="PrimaryFirstNm" type="xsd:string"/>
            <xsd:element name="PrimaryBirthDt" type="xsd:string"/>
            <xsd:element name="SpouseSSN" type="xsd:string"/>
            <xsd:element name="SpouseFirstNm" type="xsd:string"/>
            <xsd:element name="SpouseBirthDt" type="xsd:string"/>
            <xsd:element name="DependentDetail" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACACreateCoverageTable">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Flag" type="xsd:string"/>
            <xsd:element name="DeficitData" type="xsd:string"/>
            <xsd:element name="PrimaryFirstNm" type="xsd:string"/>
            <xsd:element name="SpouseFirstNm" type="xsd:string"/>
            <xsd:element name="DependentDetail" type="xsd:string"/>
            <xsd:element name="MultiCopyOutputMappings">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="PersonName" type="xsd:string"/>
                  <xsd:element name="MonthGroup" type="xsd:string"/>
                  <xsd:element name="MonthCode" type="xsd:string"/>
                  <xsd:element name="Status" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACACreateMonthlyPTCCalculationGrp">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Choice" type="xsd:string"/>
            <xsd:element name="MonthlyPremiumAmt" type="xsd:string"/>
            <xsd:element name="MonthlyPremiumSLCSPAmt" type="xsd:string"/>
            <xsd:element name="MonthlyContribAmt" type="xsd:string"/>
            <xsd:element name="AltPrimaryMonthlyContribAmt" type="xsd:string"/>
            <xsd:element name="AltPrimaryStartMonthNumberCd" type="xsd:string"/>
            <xsd:element name="AltPrimaryEndMonthNumberCd" type="xsd:string"/>
            <xsd:element name="AltSpouseMonthlyContribAmt" type="xsd:string"/>
            <xsd:element name="AltSpouseStartMonthNumberCd" type="xsd:string"/>
            <xsd:element name="AltSpouseEndMonthNumberCd" type="xsd:string"/>
            <xsd:element name="MonthlyPremiumTaxCreditAllwAmt" type="xsd:string"/>
            <xsd:element name="AltMonthlyPremiumTaxCreditAllwAmt" type="xsd:string"/>
            <xsd:element name="MonthlyAdvancedPTCAmt" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACACreateSharedRespHsldCoverage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeficitData" type="xsd:string"/>
            <xsd:element name="PrimaryFirstNm" type="xsd:string"/>
            <xsd:element name="SpouseFirstNm" type="xsd:string"/>
            <xsd:element name="DependentDetail" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BelowThreshold">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Threshold" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BelowOrEqualToThreshold">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Threshold" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAFlatDollarCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeficitData" type="xsd:string"/>
            <xsd:element name="PrimaryBirthDt" type="xsd:string"/>
            <xsd:element name="SpouseBirthDt" type="xsd:string"/>
            <xsd:element name="DependentsBirthDts" type="xsd:string"/>
            <xsd:element name="FilingYear" type="xsd:string"/>
            <xsd:element name="Month" type="xsd:string"/>
            <xsd:element name="CountType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAAllMonthsHaveStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MonthlyStatuses" type="xsd:string"/>
            <xsd:element name="WhatIsBeingChecked" type="xsd:string"/>
            <xsd:element name="AcceptableStatuses">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Status" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PovertyLevelLocationCode">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="State" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PovertyLevel">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="StateAbbreviationCd" type="xsd:string"/>
            <xsd:element name="FamilySize" type="xsd:string"/>
            <xsd:element name="AlaskaFirstPerson" type="xsd:string"/>
            <xsd:element name="AlaskaIncrement" type="xsd:string"/>
            <xsd:element name="HawaiiFirstPerson" type="xsd:string"/>
            <xsd:element name="HawaiiIncrement" type="xsd:string"/>
            <xsd:element name="MainFirstPerson" type="xsd:string"/>
            <xsd:element name="MainIncrement" type="xsd:string"/>
            <xsd:element name="LocationCodeID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TotalExemptionsCntID" type="xsd:string" minOccurs="0"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValuePerFamilyMember">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PrimaryValue" type="xsd:string"/>
            <xsd:element name="SpouseValue" type="xsd:string"/>
            <xsd:element name="DependentValues" type="xsd:string"/>
            <xsd:element name="FilingStatus" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACASelfEmployedExchangeInsuranceDeductionViaTPSCycle">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ScheduleCProfitIncludingStandardHealthDeduction" type="xsd:string"/>
            <xsd:element name="ScheduleFProfitIncludingStandardHealthDeduction" type="xsd:string"/>
            <xsd:element name="ScheduleK1SProfitIncludingStandardHealthDeduction" type="xsd:string"/>
            <xsd:element name="ScheduleK1PProfitIncludingStandardHealthDeduction" type="xsd:string"/>
            <xsd:element name="DataFrom1095A" type="xsd:string"/>
            <xsd:element name="MonthlyPlanPremiumAmt" type="xsd:string"/>
            <xsd:element name="MonthlyAdvancedPTCAmt" type="xsd:string"/>
            <xsd:element name="PovertyLevel" type="xsd:string"/>
            <xsd:element name="AdjustedGrossIncomeAmt" type="xsd:string"/>
            <xsd:element name="AdditionalTaxLimitationTable" type="xsd:string"/>
            <xsd:element name="FilingStatus" type="xsd:string"/>
            <xsd:element name="TotalPremiumByMonth" type="xsd:string"/>
            <xsd:element name="MaxIterations" type="xsd:string"/>
            <xsd:element name="MonthlyPTC" type="xsd:string"/>
            <xsd:element name="TotalPTC" type="xsd:string"/>
            <xsd:element name="PTCThreshold" type="xsd:string"/>
            <xsd:element name="DeductionThreshold" type="xsd:string"/>
            <xsd:element name="ExchangeSelfEmploymentDeduction" type="xsd:string"/>
            <xsd:element name="TPSIterationNumber" type="xsd:string"/>
            <xsd:element name="IterationNumber" type="xsd:string"/>
            <xsd:element name="LastIterationDeduction" type="xsd:string"/>
            <xsd:element name="LastIterationPTC" type="xsd:string"/>
            <xsd:element name="AlternateDeduction" type="xsd:string"/>
            <xsd:element name="NextIterationSetDeductionBlank" type="xsd:string"/>
            <xsd:element name="NextExchangeSelfEmploymentDeduction" type="xsd:string"/>
            <xsd:element name="NextIterationNumber" type="xsd:string"/>
            <xsd:element name="NextLastIterationDeduction" type="xsd:string"/>
            <xsd:element name="NextLastIterationPTC" type="xsd:string"/>
            <xsd:element name="NextAlternateDeduction" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACASelfEmployedExchangeInsuranceDeduction">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ScheduleCProfitIncludingStandardHealthDeduction" type="xsd:string"/>
            <xsd:element name="ScheduleFProfitIncludingStandardHealthDeduction" type="xsd:string"/>
            <xsd:element name="ScheduleK1SProfitIncludingStandardHealthDeduction" type="xsd:string"/>
            <xsd:element name="ScheduleK1PProfitIncludingStandardHealthDeduction" type="xsd:string"/>
            <xsd:element name="DataFrom1095A" type="xsd:string"/>
            <xsd:element name="MonthlyPlanPremiumAmt" type="xsd:string"/>
            <xsd:element name="MonthlyAdvancedPTCAmt" type="xsd:string"/>
            <xsd:element name="PovertyLevel" type="xsd:string"/>
            <xsd:element name="AdjustedGrossIncomeAmt" type="xsd:string"/>
            <xsd:element name="AdditionalTaxLimitationTable" type="xsd:string"/>
            <xsd:element name="FilingStatus" type="xsd:string"/>
            <xsd:element name="TotalPremiumByMonth" type="xsd:string"/>
            <xsd:element name="MaxIterations" type="xsd:string"/>
            <xsd:element name="MonthlyPTC" type="xsd:string"/>
            <xsd:element name="TotalPTC" type="xsd:string"/>
            <xsd:element name="SelfEmployedExchangeInsuranceDeductionID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACADisqualifiedFromPTCDueToFilingStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FilingStatus" type="xsd:string"/>
            <xsd:element name="ReliefInd" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACA1095AAllocation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Values" type="xsd:string"/>
            <xsd:element name="Allocations" type="xsd:string"/>
            <xsd:element name="PolicyNumbers" type="xsd:string"/>
            <xsd:element name="Month" type="xsd:string"/>
            <xsd:element name="ValueName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAFilter1095AMonthlyValues">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Data" type="xsd:string"/>
            <xsd:element name="SSNFilter" type="xsd:string" minOccurs="0"/>
            <xsd:element name="StartMonthNumberCdFilter" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EndMonthNumberCdFilter" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ValueName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAOfferOfCoverage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CoverageCodes" type="xsd:string"/>
            <xsd:element name="PrimarySSN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SpouseSSN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FilingStatus" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CoverageOfferedCdName" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAFilter1095COfferOfCoverage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Data" type="xsd:string"/>
            <xsd:element name="SSNFilter" type="xsd:string" minOccurs="0"/>
            <xsd:element name="StartMonthNumberCdFilter" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EndMonthNumberCdFilter" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAAltPTC">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="AltPrimaryPTC" type="xsd:string"/>
            <xsd:element name="AltSpousePTC" type="xsd:string"/>
            <xsd:element name="StandardPTC" type="xsd:string"/>
            <xsd:element name="PrimaryEndMonthNumberCd" type="xsd:string"/>
            <xsd:element name="SpouseEndMonthNumberCd" type="xsd:string"/>
            <xsd:element name="Month" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACABenchmarkPlan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZipCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAFindPercentageOfPovertyLevel">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HouseholdIncome" type="xsd:string"/>
            <xsd:element name="PovertyLevelAmt" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAAltFamilySize">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ThisPersonHasPolicies" type="xsd:string"/>
            <xsd:element name="OtherPersonHasPolicies" type="xsd:string"/>
            <xsd:element name="NumberDependents" type="xsd:string"/>
            <xsd:element name="RoundUp" type="xsd:string"/>
            <xsd:element name="ThisPersonID" type="xsd:string"/>
            <xsd:element name="OtherPersonID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAAdditionalTaxLimitationAmt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FilingStatus" type="xsd:string"/>
            <xsd:element name="PovertyLevelPct" type="xsd:string"/>
            <xsd:element name="AdditionalTaxLimitationTable" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAPTCTrueUp">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PTCReceived" type="xsd:string"/>
            <xsd:element name="PTCEligible" type="xsd:string"/>
            <xsd:element name="CalculationType" type="xsd:string"/>
            <xsd:element name="LeaveBlankIfNegative" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAChooseCalculationType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PrimaryAltFamilySize" type="xsd:string"/>
            <xsd:element name="Monthly1095AData" type="xsd:string"/>
            <xsd:element name="MonthlyOfferOfCoverageData" type="xsd:string"/>
            <xsd:element name="AllocationPolicyNumbers" type="xsd:string"/>
            <xsd:element name="MonthlyTrueUp" type="xsd:string"/>
            <xsd:element name="AltTrueUp" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACAMonthlyPTCContributionForChoiceGrp">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Choice" type="xsd:string"/>
            <xsd:element name="MonthlyPremiumAmt" type="xsd:string"/>
            <xsd:element name="MonthlyPremiumSLCSPAmt" type="xsd:string"/>
            <xsd:element name="MonthlyContribAmt" type="xsd:string"/>
            <xsd:element name="AltPrimaryMonthlyContribAmt" type="xsd:string"/>
            <xsd:element name="AltPrimaryStartMonthNumberCd" type="xsd:string"/>
            <xsd:element name="AltPrimaryEndMonthNumberCd" type="xsd:string"/>
            <xsd:element name="AltSpouseMonthlyContribAmt" type="xsd:string"/>
            <xsd:element name="AltSpouseStartMonthNumberCd" type="xsd:string"/>
            <xsd:element name="AltSpouseEndMonthNumberCd" type="xsd:string"/>
            <xsd:element name="Month" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ACARequiredContribution">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="HouseholdIncome" type="xsd:string"/>
            <xsd:element name="PovertyLevelPct" type="xsd:string"/>
            <xsd:element name="FPLDecimalTable" type="xsd:string"/>
            <xsd:element name="ApplicableFigureRt" type="xsd:string" minOccurs="0"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
</xsd:schema>
